spring:
  application:
    name: tasktracker

  main:
    banner-mode: off

  datasource:
    url: jdbc:postgresql://localhost:5432/tasktracker
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

        jdbc:
          lob:
            non_contextual_creation: true

  sql:
    init:
      platform: postgres


  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  api-docs:
    path: /api-docs
  show-actuator: true
  swagger-ui:
    show-extensions: true
    operations-sorter: method

server:
  port: 8080

jwt:
  key: ${JWT_SIGNING_KEY:9ab3fee80daeaf6f8c80d420be7ad1e29a6fef1cde8efafd8a551789c479c2b6}
  access-token-expiration: 36000000
  refresh-token-expiration: 2592000000


logging:
  level:
    com.tasktracker: TRACE
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: DEBUG
